<h2>What is Bitcoin?</h2>
<blockquote>
  <p><em>"Bitcoin is to money like email is to postal mail"</em></p>
</blockquote>
<p>Discover Bitcoin in under one minute with this introductory video!</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gjOfYfKZZlo" frameborder="0" allowfullscreen></iframe>


  <%=@address %>