<h1>Welcome to Cryptom</h1>
<p>Something great is coming soon!</p>




<hr>
<%= ENV["VARIABLE"] %>


<br>
<div class="ui message"><p>This site is a work in progress...</p>
<p>Check out the <a href="pages/dashboard"><button class="ui tiny primary button" >Dashboard</button></a> to see more!</p></div>

