<h1>Welcome to Cryptom</h1>
<p>Something great is coming soon!</p>



<hr>
<%= ENV["SECRET"] %>






<br>
<div class="ui message"><p>This site is a work in progress...</p>
<p>Check out the <a href="pages/dashboard"><button class="ui tiny primary button" >Dashboard</button></a> to see more!</p></div>

<div class="ui grid">
  

  <div class="four wide column" id="center">
    <p>Cryptom uses <a href="http://www.block.io/#_l_1bf">block_io</a> to bring cryptocurrency to everyone! </p>
  </div>
  <div class="four wide column" id="center">
    <h3>Be your own bank</h3>
        <i class="big circular inverted university icon"></i>
  </div>
  <div class="four wide column" id="center">
    <h3>Instant Transactions</h3>
    <i class="big circular inverted lightning icon"></i>
  </div>
  <div class="four wide column" id="center">
    <h3> Unparalleled Security</h3>
    <i class="big circular inverted lock icon"></i>
      
  </div>

</div>



</h2>
<div class="ui compact segment">
<div class="ui items">

  <div class="item">
    <div class="ui tiny image">
     <%=image_tag 'wallet-01.png', size: '75x75'%>
    </div>
    <div class="content">
      <a class="header">Create a Secure Bitcoin Wallet</a>
      <div class="meta">
        <span>You're wallet is secured with a 256-bit encryption. </span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <p>Once created, you can use your wallet to send or receive bitcoins. <br>If you aren't familiar with bitcoin, watch this one-minute introductory video.</p><a href="/pages/bitcoin"><button class="ui right labeled basic blue icon button">
  <i class="right arrow icon"></i>
  Watch
</button></a>
</div>
 <div class="ui horizontal divider">
    Or
  </div>
      <a href= "/wallets/create">
<button class="ui right labeled basic green icon button">
  <i class="right arrow icon"></i>
  Create Wallet
</button>
    </a>
  </div>
    </div>
  </div>
  </div>
  <br>
 
