<footer>
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Projects</a>
            <a href="#" class="item">Blog</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Service</a>
            <a href="#" class="item">Micro service</a>
            <a href="#" class="item">Gov't work</a>
            <a href="#" class="item">Private work</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Creating with Purpose</h4>
          <p>A SwiftLabs Company © 2017. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>